@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
:root {
  --mainColor: hsl(218, 28%, 13%);
  --h1_size: 2.8rem;
  --h2_content_size: 1.4rem;
  --h_nav_family: "Raleway", sans-serif;
  --normal_family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--mainColor);
  width: 1440px;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  align-self: center;
  display: flex;
  justify-content: space-between;
  margin-top: 73px;
  max-height: 52px;
  width: 1280px;
}

.navigation {
  flex-basis: 24.5%;
}

.navigation__list {
  display: flex;
  list-style-type: none;
}
.navigation__element {
  display: flex;
  font-family: var(--h_nav_family);
  justify-content: flex-end;
}
.navigation__link {
  text-decoration: none;
  color: #fff;
  padding: 17px 0px 16px 53px ;
  text-align: center;
}
