@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(218, 28%, 13%);
    min-height: 100vh;
    max-width: 1440px;
    
}

/* header and navigation styles */
#logo-nav {
    height: 52px;
    position: relative;
    left: 80px;
    right: 80px;
    top: 73px;
    max-width: 1280px;
}

.main-navigation {
    position: absolute;
    right: 0;
    top: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.menu-list {
    float: left;
    list-style-type: none;
}

.list-element {
    float: left;
    line-height: 52px;
    padding-left: 57px;
}

.list-element a {
    text-decoration: none;
    color: #fff;
}

/* features section */
.features{
    /* clear: both; */
    position: relative;
    width: 100%;
}
.image-div{

    left: calc(50% - 360px);
    position: absolute;
    top: 200px;
}