@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(218, 28%, 13%);
    min-height: 100vh;
    max-width: 1440px;

}

/* header and navigation styles */
#logo-nav {
    height: 52px;
    left: 80px;
    margin-top: 73px;
    max-width: 1280px;
    position: relative;
    right: 80px;

}

.main-navigation {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 0;

}

.menu-list {
    float: left;
    list-style-type: none;
}

.list-element {
    float: left;
    line-height: 52px;
    padding-left: 57px;
}

.list-element a {
    text-decoration: none;
    color: #fff;
}

/* features section */
.big-container{
    position: relative;
    top: 59px;
    max-width: 100%;
}
.features{
    position: relative;
}
.image-div{
    left: calc(50% - 360px);
    position: relative;
    /* transform: translateX(50%); */

}
.text-div{
    position: relative;
    left: 353px;
    top: 52px;
    text-align: center;
    word-wrap: break-word;
}
.bigger-text{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bold;
    max-width: 734px;
}
.smaller-text{
    font-family: 'Open Sans';
    font-size: 20px;
    max-width: 734px;
    word-wrap: break-word;
}